/* FUENTES */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* VARIABLES */
:root{
    /*bg colors*/
    --background: #131415;
    --primary: #1e50ff;
    --secondary: #272d37;
    --btn-lg: #050d26;
    --bg-azul-10: #e9eeff;
    --bg-white: #fff;
    --bg-electric: #f0fbff;
    --nav-bg: #0f1525;

    /*text colors*/
    --text-gray: #adb9c7;
    --text-white: #f3f4f6;

    /*decorations*/
    --fire: #ff6d00;
    --electric: #64d3ff;
}

/* FORMATEO DE PAGINA */
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    text-decoration:none;
    list-style:none;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: var();
    
}

/*HEADER*/
header{
    /*background: var(--secondary);*/
    background: linear-gradient(to bottom, #121e3c, var(--background));
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
    height: 65px;
    position: fixed;
    width: 100%;
    max-width: 100vw;
    /* overflow-x: hidden; */
}

.navbar, 
.navbar-list{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar{
    gap: 1rem;
    
}

.navbar-list{
    gap: 1rem;
    font-size: 14px;
}

.navbar-list a{
    color: var(--text-gray);
}

/*
.navbar-list li:first-child > a{
    font-weight: 600;
    color: var(--text-white);
}
    */

.navbar-list .active{
    font-weight: 600;
    color: var(--text-white)
}


/* Ocultamos el input: checkbox */
.menu-label,
#menu-toggle,
#cart-toggle{
    display: none;
}
.cart::-webkit-scrollbar{
    display: none;
}

.cart-icon{
    padding: 5px 10px;
    height: 30px;
    cursor: pointer;
}

/* ==== CARRITO === */
.cart{
    position: absolute;
    right: 0;
    top: 65px;
    background: linear-gradient(to top, #121e3c, var(--background));
    padding: 50px 30px;
    border-left: 1px solid var(--nav-bg);
    height: calc(100vh - 65px);
    display: flex;
    flex-direction: column;
    gap: 30px;
    overflow-y: scroll;
    display: flex;
    translate: 100%;
    transition: all .5s ease-out;
    z-index: 2;
}

.cart h2{
    color: var(--text-white);
    font-size: 20px;
    font-weight: 600;
}
.cart-item{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    border: 1px solid var(--electric);
    background: #232323;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.item-title{
    color: var(--text-white);
    font-size: 14px;
    font-weight: 600;
}
.item-bid{
    color: var(--text-gray);
    font-size: 12px;
    font-weight: 300;
}

.item-price{
    background: linear-gradient(to right, #30cfd0, #c43ad6);
    color: transparent;
    background-clip: text;
    font-weight: 800;
}

.item-handler{
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 20px;
}

.quantity-handler{
    color: var(--text-white);
    padding: 2px 8px;
    border-radius: 5px;;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.down,
.up{
    border: 1px solid var(--electric);
}

.down{
    background: var(--secondary);
}

.item-quantity{
    color: var(--text-gray);
}

.divider{
    margin: 20px;
    border: 0.5px solid var(--electric);
}
.cart-total{
    display: flex;
    justify-content: space-between;
    color: var(--text-white);
}

.cart-total p{
    font-weight: 700;
}

.cart-total span{
    font-size: 18px;
    font-weight: 400;
}

/* aca hacemos funcional el carrito */
#cart-toggle:checked + .cart{
    /* display: flex; */
    translate: 0;
}


/* ================================= */
/* HERO SECTION */

main{
    background: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: var(--text-white);
}

#hero{
    max-width: 1200px;
    margin-top: 65px;
    padding: 70px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: 50%;
}

.hero-info h1{
    font-size: 48px;
    font-weight: 800;
    width: 80%;
    /* con esto damos gradiente al texto*/
    background: linear-gradient(to top, #30cfd0, #c43ad6);
    color: transparent;
    background-clip: text;
    
}

.hero-info p{
    font-size: 14px;
    width: 70%;
    color: var(--text-gray);
}

.hero-info span{
    font-weight: 800;
    text-transform: uppercase;
}

.hero-info a{
    color: var(--text-white);
    background-color: var(--primary);
    padding: 8px 12px;
    border-radius: 8px;
}

.hero-card{
    background-color: var(--secondary);
    width: 300px;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    
    gap: 20px;
}

.hero-card-info{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hero-card-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.hero-card-top h3{
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.hero-card-top span{
    background-color: var(--primary);
    border-radius: 10px;
    padding: 3px 15px;
    font-size: 14px;
}

.hero-card-botton{
    display: flex;
    justify-content: space-between;

}

.hero-card-creator{
    display: flex;
    align-items: center;
    gap: 10px;
}

.hero-card-creator img{
    height: 40px;
    width: 40px;
}

.creator-info p,
.hero-card-price p{
    font-size: 12px;
    font-weight: 300;
    color: var(--text-gray);
}

.hero-card-price{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.hero-card-price span{
    font-weight: 700;
}

/*================================*/
/* INFO SECTION */

#info{
    padding: 70px 0;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#info h2{
    font-size: 2rem;
    font-weight: 800;
}

.info-card-container{
    display: flex;
    gap: 20px;
}

.info-card{
    background-color: var(--secondary);
    width: 300px;
    height: 290px;
    padding: 40px 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.info-card img{
    width: 50px;
}

.info-card p{
    text-align: center;
    font-size: 14px;
    color: var(--text-gray);
}
/* ==========================================*/
/* SECTION DISCOVER*/
#discover{
    padding: 70px 0;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}

.discover-info{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.discover-info h2{
    font-size: 2rem;
    font-weight: 800;
    width: 45%;
}

.discover-text{
    width: 45%;
    display: flex;
    flex-direction: column;
    gap:20px;
}

.discover-text p{
    color:var(--text-gray);
}

.discover-text a{
    color: var(--text-white);
    text-decoration: underline;
    font-weight: 600;
}

.discover-cards{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.discover-cards img{
    width: 30%;
}

/*================================*/
/* PRODUCTS SECTION */
#products{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    max-width: 1200px;
    gap: 40px
}

#products h3{
    font-size: 2rem;
    font-weight: 800;
}

.categories{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.category{
    background-color: var(--btn-lg);
    border: none;
    padding: 10px 15px;
    color: var(--text-white);
    border-radius: 10px;
    cursor: pointer;
}

.active{
    background: var(--primary)
}

/* ========================== */
/* PRODUCTOS */
.products-container{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    max-width: 1200px;
}


.product{
    background: var(--secondary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 25px;
    gap: 20px;
}

.product-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}

.product-top,
.product-mid,
.product-bot{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-top{
    font-size: 1rem;
    font-weight: 600;
}

.product-top p,
.product-user p{
    color: var(--text-gray);
}

.product-user,
.offer-time{
    display: flex;
    align-items: center;
    gap:10px;
}

.product-mid span{
    font-weight: 800;
}

.offer-time{
    font-weight: 600;
}

.offer-time img{
    width: 20px;
}

.btn-add{
    background: var(--primary);
    border: none;
    padding: 10px 35px;
    border-radius: 10px;
    color: var(--text-white);
    cursor: pointer;
}

.btn-load{
    background: none;
    color: var(--text-white);
    padding: 10px 35px;
    border-radius: 10px;
    border: 1px solid var(--electric);
}

/* ========================== */
/* FOOTER */

footer{
    background: var(--background);
    color: var(--text-white);
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    gap: 40px;
    padding: 60px 0;
    width: 100%;
}

footer a,
footer p{
    color: var(--text-gray);
    font-size: 14px;
}

.footer-links{
    display: flex;
    gap: 20px;
}

footer span {
    font-weight: 800;
}









































